* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e7e7;
}

.app {
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  height: 100vh;
}

p,
heading,
label,
button {
  font-family: "Inter";
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 40px;
  background: #7a40f5;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.header--title {
  margin-left: 30px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.sidebar {
  width: 320px;
  height: 100%;
  background: #c6c6c6;
  overflow-y: scroll;
}

.sidebar--container {
  width: 250px;
  margin: 21px 13px;
}

.sidebar--title {
  font-size: 24px;
}

.personal {
  height: 500px;
  padding: 10px 15px 15px;
  background: #eaeaea;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #7a40f5;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter";
  font-weight: 500;
  font-size: 11px;
  color: #ffffff;
}
